* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 2;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: #000000;
  font-family: Iosevka NFP;
  font-size: 9pt;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 1pt;
}


#custom-rofi {
  color: #c0c0c0;
  border: 0.5pt solid #c0c0c0;
  background: #000000;
  padding: 1pt 6pt 0 6pt;
  margin-right: 2pt;
}

#workspaces button {
	color: #c0c0c0;
  background: #000000;
  border: 0.5pt solid #c0c0c0;
  margin-right: 2pt;
  min-width: 15pt;
  padding: 1pt 3pt 0 4pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: #000000;
  background: #008000;
  border-color: #008000;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #000000;
  border-color: #c0c0c0;
  background: #c0c0c0;
}

#workspaces button.urgent {
  color: #000000;
  border-color: #800000;
  background: #FF0000;
}

#window {
  border: 1pt solid #d3869b;
}

#tray {
  border: 1pt solid #e78a4e;
  padding: 0 6pt;
}

#disk,
#cpu,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#custom-net_speed {
	padding: 1pt 3pt 0 3pt;
	margin-left: 2pt;
	border: 0.5pt solid #c0c0c0;
	color: #c0c0c0;
}

#pulseaudio.muted {
  border: 0.5pt solid #FF0000;
  color: #FF0000;
}

#battery.critical {
  border: 1pt solid #FF0000;
}

#battery.warning {
  border: 1pt solid #FFFF00;
}

#clock {
    font-size: 11pt;
	margin-right: 8pt;
	color: #c0c0c0;
}

#mode,
#submap {
  color: #83a598;
  border: 2pt solid #83a598;
  padding: 0 7.5pt;
}
